PORT=4100
GEMINI_API_KEY=your_gemini_key
GEMINI_MODEL=gemini-3.8-flash
MAX_QUESTIONS=6

MONGODB_URI=mongodb://127.0.0.1:27017/quantum-care{MONGODB URI wil be here}


OCR_MAX_FILE_SIZE_MB=20
OCR_MAX_FILE_SIZE_BYTES=20971520


AI_SERVICE_KEY=your_internal_ai_service_secret