PORT=3000
NODE_ENV=development
JWT_SECRET=quantum_care_super_secure_jwt_secret_key_sih_2026_prototype
JWT_EXPIRES_IN=7d
MONGODB_URI=mongodb://127.0.0.1:27017/quantum_care
DEV_OTP_MODE=true
CORS_ORIGIN=*
